<div class="container">
  <div class="card">
    <search-bar
      searchProperty="titulo"
      placeholder="Busqueda por titulo del libro"
      [source]="Libros"
      triggerOnInput
      (searchDone)="onSearchDone($event)"
    ></search-bar>
  </div>
  <div class="card">
    <div #contenedorTabla>
      <data-table
        *ngIf="Libros.length > 0"
        [source]="librosFiltrados || Libros"
        [columns]="tableColumns"
        tableStyle="bordered"
        [maxHeight]="500"
        (selectionChanged)="cargarDetalleLibro($event)"
      ></data-table>
    </div>
    <app-aviso
      *ngIf="Libros.length === 0"
      titulo="Tabla de libros"
      mensaje="Aqui se mostraran los libros que se carguen desde la base de datos"
    ></app-aviso>
  </div>

  <div class="card detalle">
    <app-detalle-libro
      *ngIf="LibroSeleccionado"
      [libro]="LibroSeleccionado"
    ></app-detalle-libro>
    <app-aviso
      *ngIf="!LibroSeleccionado"
      titulo="Detalles del libro"
      mensaje="Aqui se mostraran los detalles del libro que seleccione en la tabla"
    ></app-aviso>
    <div class="action">
      <app-button
        *ngIf="LibroSeleccionado"
        square
        centered
        bordered
        (onClick)="solicitarPrestamo()"
      >
        Solicitar prestamo
      </app-button>
    </div>
  </div>

  <!-- <app-modal [(isOpen)]="isModalOpen">
    <app-fm-libro
      (onSubmit)="onSubmit($event)"
      (onCancel)="onCancel()"
      [titulo]="tituloModal"
      [libro]="isEditing ? LibroSeleccionado : undefined"
    ></app-fm-libro>
  </app-modal> -->

  <app-modal [(isOpen)]="isModalSolicitudOpen">
    <div *ngIf="LibroSeleccionado && LibroSeleccionado.disponibles > 0; else noDisponible">
      <app-fm-prestamo
        titulo="Solicitar prestamo"
        [libro]="LibroSeleccionado"
        (onCancel)="onCancel()"
        (onSubmit)="onSubmitSolicitud($event)"
      ></app-fm-prestamo>
    </div>

    <ng-template #noDisponible>
      <app-aviso titulo="Libro no disponible" mensaje="No hay ejemplares disponibles para prestamo"></app-aviso>
    </ng-template>
  </app-modal>
</div>
