<div class="container">
  <h2>{{ titulo }}</h2>
  <form *ngIf="libro" [formGroup]="FormAgregarPrestamo" (ngSubmit)="onSubmit()">
    <app-input-container [icon]="Iconos.USUARIO" title="Afiliado">
      <select id="pepe" formControlName="afiliado">
        <option [value]="-1" hidden disabled>Seleccione el afiliado</option>
        <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">
          {{ usuario.apellido }}, {{ usuario.nombre }}
        </option>
      </select>
    </app-input-container>
    <app-input-container [icon]="Iconos.CALENDARIO" title="Fecha de prestamo">
      <input
        type="date"
        formControlName="fecha_prestamo"
      />
    </app-input-container>
    <app-input-container
      [icon]="Iconos.CALENDARIO"
      title="Fecha de devolucion estimada"
    >
      <input
        type="date"
        formControlName="fecha_devolucion"
      />
    </app-input-container>

    <app-button type="submit" square bordered>Aceptar</app-button>
    <app-button type="reset" square inverted bordered (onClick)="onCancel()"
      >Cancelar</app-button
    >
  </form>

  <app-aviso *ngIf="!libro" titulo="Error" mensaje="Por favor seleccione un libro de la tabla nuevamente"></app-aviso>
</div>
