<div class="container">
  <div class="title-container">
    <h3>{{ libro.titulo }}</h3>
    <p>Descripcion: {{libro.descripcion}}</p>
  </div>
  <div class="info">
    <span>Escrito por: {{ libro.autor }}</span>
    <span>Editorial: {{ libro.editor }}</span>
    <span>Categoria: {{ libro.categoria }}</span>
    <span>Idiomas disponibles: {{ libro.lenguajes }}</span>
    <span>Cantidad de paginas: {{ libro.paginas }}</span>
    <span>Stock: {{ libro.stock }}</span>
    <span>Disponibles: {{ libro.disponibles }}</span>
  </div>
</div>
