<div class="container">
  <div class="card">
    <div #contenedorTabla>
      <data-table
        *ngIf="prestamos.length > 0"
        [source]="prestamos"
        [columns]="tableColumns"
        tableStyle="bordered"
        [maxHeight]="500"
        (selectionChanged)="cargarDetallePrestamo($event)"
      ></data-table>
    </div>
    <app-aviso
      *ngIf="prestamos.length === 0"
      titulo="Tabla de Prestamos"
      mensaje="Aqui se mostraran los prestamos que se carguen desde la base de datos"
    ></app-aviso>
  </div>

  <div class="card detalle">
    <app-detalle-prestamo
      *ngIf="PrestamoSeleccionado"
      [prestamo]="PrestamoSeleccionado"
    ></app-detalle-prestamo>
    <app-aviso
      *ngIf="!PrestamoSeleccionado"
      titulo="Detalles del Prestamo"
      mensaje="Aqui se mostraran los detalles del Prestamo que seleccione en la tabla"
    ></app-aviso>
  </div>
</div>
